<!DOCTYPE html>
<html>
<head>
    <title>Login | Career Guidance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="login-box">
        <h2>Career Guidance System 🚀</h2>

        {% with messages = get_flashed_messages() %}
         {% if messages %}
            <p class="msg">{{ messages[-1] }}</p>
         {% endif %}
        {% endwith %}

        <p>Please login to continue</p>

        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>

        <p><a href="/forgot">Forgot Password?</a></p>
        <p>New user? <a href="/register">Register here</a></p>
    </div>

</body>
</html>




